<style>
  div.photos-wrapper {
    background-color: #D9DDDC;
    color: #28282B;
  }
  div.photos {
    margin: 0 auto;
    max-width: 1335px;
    padding: 30px 0px;
  }
  div.photos h3 {
    text-align: center;
    padding: 10px 0px;
  }
  div.photos p {
    text-align: center;
  }
  div.photo-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.photo-cell {
    background-color: #F0F8FF;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 3px 3px 3px grey;
    height: 400px;
  }
  div.photo-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.photo-cell p {
    text-align: center;
  }
  div.photo-cell a {
    color: steelblue;
    text-decoration: none;
    text-align: center;
  }
  div.photo-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
  div.photo-cell-title {
    color: black;
    max-width: 200px;
    margin: auto;
  }
</style>

<div id="photos" class="photos-wrapper">
  <div class="photos">
    <h3>Paige and Daniel</h3>
    <div class="photo-row">
      <div class="photo-cell">
        <img src="{{site.url}}/images/photos/paigeanddaniel01.png" alt="Paige and Daniel" width="250"/>
<!--
        <p>Winery Outing!</p>
        <div class="photo-cell-title">The Happy Couple!</div>
-->
      </div>
    </div>
    <!--
    <p>NOTE: Italy.</p>
    -->
  </div>
</div>
