<style>
  div.headshots-wrapper {
    background-color: #D9DDDC;
    color: #28282B;
  }
  div.headshots {
    margin: 0 auto;
    max-width: 1335px;
    padding: 30px 0px;
  }
  div.headshots h3 {
    text-align: center;
    padding: 10px 0px;
  }
  div.headshots p {
    text-align: center;
  }
  div.headshot-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.headshot-cell {
    background-color: #F0F8FF;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
    height: 365px;
  }
  div.headshot-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.headshot-cell p {
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.headshot-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.headshot-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
  div.headshot-cell-title {
    color: black;
    font-size: 18px;
    max-width: 200px;
    margin: auto;
  }
</style>

<div id="speakers" class="headshots-wrapper">
  <div class="headshots">
    <h3>2026 Speakers</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/photos/winery1.JPEG" alt="" width="200"/>
        <p>Winery</p>
        <div class="headshot-cell-title">Winery</div>
      </div>
    </div>
    <p>NOTE: We are still confirming and announcing speakers. Our speaker list is subject to change.</p>
  </div>
</div>
